<section class="w-full h-[30px]" style="background-color: {{ section.settings.bg_color }};">
    <div class="flex items-center justify-center h-full">
        {% if section.settings.announcement_link != blank %}
            <a href="{{ section.settings.announcement_link }}" 
               class="font-semibold leading-none tracking-[0.8px] text-center text-[10px] md:text-[12px] lg:text-[{{ section.settings.font_size }}px]" 
               style="color: {{ section.settings.text_color }};">
                {{ section.settings.announcement_text }}
            </a>
        {% else %}
            <span class="font-semibold leading-none tracking-[0.8px] text-[10px] md:text-[12px] lg:text-[{{ section.settings.font_size }}px]" 
                  style="color: {{ section.settings.text_color }};">
                {{ section.settings.announcement_text }}
            </span>
        {% endif %}
    </div>
</section>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "Enjoy Your Free Shipping On All Orders"
    },
    {
      "type": "url",
      "id": "announcement_link",
      "label": "Announcement Link"
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#5A6D57"
    },
    {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#FFFFFF"
    },
    {
        "type": "range",
        "id": "font_size",
        "label": "Font Size",
        "min": 10,
        "max": 16,
        "step": 1,
        "unit": "px",
        "default": 12
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}
