{% style %}
  .announcement-bar-{{ section.id }} {
    background-color: {{ section.settings.bg_color }};
    width: 100%;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
  }

  .announcement-bar__content-{{ section.id }} {
    color: {{ section.settings.text_color }};
    font-size: 10px; /* Mobile first */
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.8px;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }

  @media screen and (min-width: 768px) {
    .announcement-bar__content-{{ section.id }} {
      font-size: 12px;
    }
  }

  @media screen and (min-width: 1024px) {
    .announcement-bar__content-{{ section.id }} {
      font-size: {{ section.settings.font_size }}px;
    }
  }
{% endstyle %}

<section class="announcement-bar-{{ section.id }}">
    {% if section.settings.announcement_link != blank %}
        <a href="{{ section.settings.announcement_link }}" class="announcement-bar__content-{{ section.id }}">
            {{ section.settings.announcement_text }}
        </a>
    {% else %}
        <span class="announcement-bar__content-{{ section.id }}">
            {{ section.settings.announcement_text }}
        </span>
    {% endif %}
</section>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "Enjoy Your Free Shipping On All Orders"
    },
    {
      "type": "url",
      "id": "announcement_link",
      "label": "Announcement Link"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#5A6D57"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Font Size",
      "min": 10,
      "max": 16,
      "step": 1,
      "unit": "px",
      "default": 12
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}